<?xml version="1.0" encoding="UTF-8"?>
<!--
PhpVcardMgr, the PHP class package managing Vcard/Xcard/Jcard information

This file is a part of PhpVcardMgr.

@author    Kjell-Inge Gustafsson, kigkonsult <ical@kigkonsult.se>
@copyright 2022 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
@link      https://kigkonsult.se
@license   Subject matter of licence is the software PhpVcardMgr.
           The above copyright, link, package and version notices and this
           licence notice shall be included in all copies or substantial
           portions of the PhpVcardMgr.

           PhpVcardMgr is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           PhpVcardMgr is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with PhpVcardMgr. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         bootstrap="test/autoload.php"
>
    <testsuites>
        <testsuite name="Vcard 4.0 Tests">
            <file>test/VcardTest.php</file>
            <file>test/Vcard4Test.php</file>
            <file>test/DateTest.php</file>
            <file>test/MiscTest.php</file>
        </testsuite>
        <testsuite name="Jcard Tests">
            <file>test/JcardTest.php</file>
        </testsuite>
        <testsuite name="Xcard Tests">
            <file>test/XcardTest.php</file>
        </testsuite>
        <testsuite name="Vcard 3.0 Tests">
            <file>test/Vcard3Test.php</file>
        </testsuite>
    </testsuites>
    <coverage
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="false"
            disableCodeCoverageIgnore="true">
        <include>
            <directory>./src</directory>
        </include>
        <!-- Require the PHP Xdebug (2.7.0 or later) and tokenizer extensions-->
        <!-- Remove or comment after your own choice-->
        <!-- Note, all output in report/logging will be saved in 'testDocs' folder -->
        <report>
            <!-- clover outputFile="testDocs/clover.xml"/ -->
            <!-- crap4j outputFile="testDocs/crap4j.xml" threshold="50"/ -->
            <html outputDirectory="testDocs/PHPUnitCoverage" lowUpperBound="60" highLowerBound="80"/>
            <php outputFile="testDocs/coverage.php"/>
            <text outputFile="testDocs/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
            <!-- xml outputDirectory="testDocs/xml-coverage"/ -->
        </report>
    </coverage>
    <logging>
        <!-- Remove or comment after your own choice-->
        <!-- All logs will be saved in 'testDocs' folder -->
        <!-- junit outputFile="testDocs/junit.xml"/ -->
        <!-- teamcity outputFile="testDocs/teamcity.txt"/ -->
        <!-- testdoxHtml outputFile="testDocs/testdox.html"/ -->
        <!-- testdoxText outputFile="testDocs/testdox.txt"/ -->
        <!-- testdoxXml outputFile="testDocs/testdox.xml"/ -->
        <text outputFile="testDocs/logfile.txt"/>
    </logging>
    <php>
        <!-- make error_log displays in tests (1) or not (0, remove or comment) -->
        <var name="dispInErrLog" value="0"/>
        <!-- Number of test Faker V/J/Xcard batch loads -->
        <var name="fakerVcardLoads" value="20"/>
    </php>
</phpunit>
